
<h1>Welcome <%= @user.name %></h1>
<%= image_tag @user.image, :class => "profileImg" %>

<p><%= link_to "Find Friends", users_friends_path %></p>


<h3>Your Friends</h3>
<!-- <ul>
  <% for friendship in @friendships %>
  <li>
    <%= h friendship.name %>
    (<%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %>
</ul> -->




<!-- /send_text?number_to_send_to=#{@current_user.phone} -->

<%= form_for Group.new do |f| -%>
<%= select_tag "friends", options_from_collection_for_select(@friendships, "id", "name", "1"), :class => 'selectlist', multiple: true %>
<%= f.text_field :name, :placeholder => 'Enter the name of group...' %>
<%= f.text_field :location, :placeholder => 'Enter the location...' %>
<%= f.datetime_select :datetime %>
<%= f.submit 'Broadcast', :class => 'broadcast' %>

<% end -%>


<!-- <%#= form_tag("/groups", method: :post) do -%>
<%#= select_tag "friends", options_from_collection_for_select(@friendships, "id", "name", "1"), :class => 'selectlist', multiple: true %>

<%#= text_field 'group[name]', nil, placeholder: 'Enter the name of group..' %>
<%#= text_field 'group[location]', nil, placeholder: 'Enter the location..' %>
<%#= select_datetime %>
<%#= submit_tag 'Broadcast', :class => 'broadcast' %>

<%# end -%> -->
