<!DOCTYPE html>
<html>
<head>
  <title>Trackpal</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


</head>
<body>

  <nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
  <% if @current_user.present? %>

    <li class="active"><%= link_to 'Home', user_path(@current_user) %></li>
    <li><%= link_to "Logout #{ @current_user.email }", logout_path, :method => :delete %></li>
    <li><%= link_to "Change Profile", users_edit_path(@current_user) %></li>
  <% else %>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Sign up', new_user_path %></li>

  <% end %>
  </ul>
</nav>

<%= yield %>

<%= javascript_include_tag 'leaflet' %>
<%= javascript_include_tag 'leaflet.usermarker' %>
<%= javascript_include_tag 'application' %>
</body>
</html>
